
        <form action="/CategoriaDoProduto/Adiciona" method="post">
            <div class="row nav-divider">
                <div class="col-md-2">
                    <label for="nome">Nome:</label>
                </div>
                <div class="col-md-10">
                    <input id="nome" name="categoriaDoProduto.Nome" value="@ViewBag.categoria.Nome"  class="input-sm" maxlength="30" size="30" />        
                 <br /> @Html.ValidationMessage("categoriaDoProduto.Nome")
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label for="nome">Descrição:</label>
                </div>

                <div class="col-md-10">
                    <input id="nome" name="categoriaDoProduto.Nome" value="@ViewBag.categoria.Descricao" class="input-sm" maxlength="50" size="50" />
                    <br />@Html.ValidationMessage("categoriaDoProduto.Descricao")
                </div>

            </div>
                <br />
               
                <input type="submit" value="Cadastrar" />

</form>

